@namespace Site.Pages
@using Models

<div class="tile is-12">
    <div class="flip-wrapper column is-full">
        <input type="checkbox" id="@Id">
        <label class="flip-tile" for="@Id">
            <div class="flip-tile-front box">
                @if(!string.IsNullOrWhiteSpace(CardEntry?.FrontImage))
                {
                    <div class="flip-tile-image">
                        <figure class="image is-4by3">
                            <img src="@CardEntry.FrontImage" alt="@CardEntry.FrontImageDescription">
                        </figure>
                    </div>
                }               
                <p class="title">@CardEntry?.FrontTitle</p>
                @CardEntry?.FrontBody)
            </div>
            <div class="flip-tile-back box">
                @if(!string.IsNullOrWhiteSpace(CardEntry?.BackImage))
                {
                    <div class="flip-tile-image">
                        <figure class="image is-4by3">
                            <img src="@CardEntry.BackImage" alt="@CardEntry.BackImageDescription">
                        </figure>
                    </div>
                }    
                <h4 class="title">@CardEntry?.BackTitle</h4>
                @CardEntry?.BackBody
            </div>
        </label>
    </div>
</div>


@code
{
    public string Id = Guid.NewGuid().ToString();

    [Parameter]
    public CardEntry? CardEntry{get; set;}
}